@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  /* Maroon */
  .bg-maroon-50 {
    background-color: #fbeaea;
  }
  .bg-maroon-100 {
    background-color: #f3c5c7;
  }
  .bg-maroon-200 {
    background-color: #ea9fa2;
  }
  .bg-maroon-300 {
    background-color: #e07a7d;
  }
  .bg-maroon-400 {
    background-color: #d75458;
  }
  .bg-maroon-500 {
    background-color: #cd2e33;
  }
  .bg-maroon-600 {
    background-color: #a6252a;
  }
  .bg-maroon-700 {
    background-color: #741c21;
  }
  .bg-maroon-800 {
    background-color: #501419;
  }
  .bg-maroon-900 {
    background-color: #2c0c10;
  }
  .bg-maroon-950 {
    background-color: #20090c;
  }

  .text-maroon-50 {
    color: #fbeaea;
  }
  .text-maroon-100 {
    color: #f3c5c7;
  }
  .text-maroon-200 {
    color: #ea9fa2;
  }
  .text-maroon-300 {
    color: #e07a7d;
  }
  .text-maroon-400 {
    color: #d75458;
  }
  .text-maroon-500 {
    color: #cd2e33;
  }
  .text-maroon-600 {
    color: #a6252a;
  }
  .text-maroon-700 {
    color: #741c21;
  }
  .text-maroon-800 {
    color: #501419;
  }
  .text-maroon-900 {
    color: #2c0c10;
  }
  .text-maroon-950 {
    color: #20090c;
  }

  .border-maroon-50 {
    border-color: #fbeaea;
  }
  .border-maroon-100 {
    border-color: #f3c5c7;
  }
  .border-maroon-200 {
    border-color: #ea9fa2;
  }
  .border-maroon-300 {
    border-color: #e07a7d;
  }
  .border-maroon-400 {
    border-color: #d75458;
  }
  .border-maroon-500 {
    border-color: #cd2e33;
  }
  .border-maroon-600 {
    border-color: #a6252a;
  }
  .border-maroon-700 {
    border-color: #741c21;
  }
  .border-maroon-800 {
    border-color: #501419;
  }
  .border-maroon-900 {
    border-color: #2c0c10;
  }
  .border-maroon-950 {
    border-color: #20090c;
  }

  /* Red */
  .bg-red-50 {
    background-color: #fef2f2;
  }
  .bg-red-100 {
    background-color: #fee2e2;
  }
  .bg-red-200 {
    background-color: #fecaca;
  }
  .bg-red-300 {
    background-color: #fca5a5;
  }
  .bg-red-400 {
    background-color: #f87171;
  }
  .bg-red-500 {
    background-color: #ef4444;
  }
  .bg-red-600 {
    background-color: #dc2626;
  }
  .bg-red-700 {
    background-color: #b91c1c;
  }
  .bg-red-800 {
    background-color: #991b1b;
  }
  .bg-red-900 {
    background-color: #7f1d1d;
  }
  .bg-red-950 {
    background-color: #450a0a;
  }

  .text-red-50 {
    color: #fef2f2;
  }
  .text-red-100 {
    color: #fee2e2;
  }
  .text-red-200 {
    color: #fecaca;
  }
  .text-red-300 {
    color: #fca5a5;
  }
  .text-red-400 {
    color: #f87171;
  }
  .text-red-500 {
    color: #ef4444;
  }
  .text-red-600 {
    color: #dc2626;
  }
  .text-red-700 {
    color: #b91c1c;
  }
  .text-red-800 {
    color: #991b1b;
  }
  .text-red-900 {
    color: #7f1d1d;
  }
  .text-red-950 {
    color: #450a0a;
  }

  .border-red-50 {
    border-color: #fef2f2;
  }
  .border-red-100 {
    border-color: #fee2e2;
  }
  .border-red-200 {
    border-color: #fecaca;
  }
  .border-red-300 {
    border-color: #fca5a5;
  }
  .border-red-400 {
    border-color: #f87171;
  }
  .border-red-500 {
    border-color: #ef4444;
  }
  .border-red-600 {
    border-color: #dc2626;
  }
  .border-red-700 {
    border-color: #b91c1c;
  }
  .border-red-800 {
    border-color: #991b1b;
  }
  .border-red-900 {
    border-color: #7f1d1d;
  }
  .border-red-950 {
    border-color: #450a0a;
  }

  /* Pink */
  .bg-pink-50 {
    background-color: #fff0f8;
  }
  .bg-pink-100 {
    background-color: #ffd6ec;
  }
  .bg-pink-200 {
    background-color: #ffaddc;
  }
  .bg-pink-300 {
    background-color: #ff84cb;
  }
  .bg-pink-400 {
    background-color: #ff5bba;
  }
  .bg-pink-500 {
    background-color: #f82ba9;
  }
  .bg-pink-600 {
    background-color: #d0198f;
  }
  .bg-pink-700 {
    background-color: #a41173;
  }
  .bg-pink-800 {
    background-color: #790a55;
  }
  .bg-pink-900 {
    background-color: #52043a;
  }
  .bg-pink-950 {
    background-color: #340021;
  }

  .text-pink-50 {
    color: #fff0f8;
  }
  .text-pink-100 {
    color: #ffd6ec;
  }
  .text-pink-200 {
    color: #ffaddc;
  }
  .text-pink-300 {
    color: #ff84cb;
  }
  .text-pink-400 {
    color: #ff5bba;
  }
  .text-pink-500 {
    color: #f82ba9;
  }
  .text-pink-600 {
    color: #d0198f;
  }
  .text-pink-700 {
    color: #a41173;
  }
  .text-pink-800 {
    color: #790a55;
  }
  .text-pink-900 {
    color: #52043a;
  }
  .text-pink-950 {
    color: #340021;
  }

  .border-pink-50 {
    border-color: #fff0f8;
  }
  .border-pink-100 {
    border-color: #ffd6ec;
  }
  .border-pink-200 {
    border-color: #ffaddc;
  }
  .border-pink-300 {
    border-color: #ff84cb;
  }
  .border-pink-400 {
    border-color: #ff5bba;
  }
  .border-pink-500 {
    border-color: #f82ba9;
  }
  .border-pink-600 {
    border-color: #d0198f;
  }
  .border-pink-700 {
    border-color: #a41173;
  }
  .border-pink-800 {
    border-color: #790a55;
  }
  .border-pink-900 {
    border-color: #52043a;
  }
  .border-pink-950 {
    border-color: #340021;
  }

  /* Softpink */
  .bg-softpink-50 {
    background-color: #fff1f5;
  }
  .bg-softpink-100 {
    background-color: #ffe0e7;
  }
  .bg-softpink-200 {
    background-color: #ffc2d0;
  }
  .bg-softpink-300 {
    background-color: #ffa3b9;
  }
  .bg-softpink-400 {
    background-color: #ff85a2;
  }
  .bg-softpink-500 {
    background-color: #ff668b;
  }
  .bg-softpink-600 {
    background-color: #e65073;
  }
  .bg-softpink-700 {
    background-color: #cc3a5b;
  }
  .bg-softpink-800 {
    background-color: #b32443;
  }
  .bg-softpink-900 {
    background-color: #99102c;
  }
  .bg-softpink-950 {
    background-color: #590414;
  }

  .text-softpink-50 {
    color: #fff1f5;
  }
  .text-softpink-100 {
    color: #ffe0e7;
  }
  .text-softpink-200 {
    color: #ffc2d0;
  }
  .text-softpink-300 {
    color: #ffa3b9;
  }
  .text-softpink-400 {
    color: #ff85a2;
  }
  .text-softpink-500 {
    color: #ff668b;
  }
  .text-softpink-600 {
    color: #e65073;
  }
  .text-softpink-700 {
    color: #cc3a5b;
  }
  .text-softpink-800 {
    color: #b32443;
  }
  .text-softpink-900 {
    color: #99102c;
  }
  .text-softpink-950 {
    color: #590414;
  }

  .border-softpink-50 {
    border-color: #fff1f5;
  }
  .border-softpink-100 {
    border-color: #ffe0e7;
  }
  .border-softpink-200 {
    border-color: #ffc2d0;
  }
  .border-softpink-300 {
    border-color: #ffa3b9;
  }
  .border-softpink-400 {
    border-color: #ff85a2;
  }
  .border-softpink-500 {
    border-color: #ff668b;
  }
  .border-softpink-600 {
    border-color: #e65073;
  }
  .border-softpink-700 {
    border-color: #cc3a5b;
  }
  .border-softpink-800 {
    border-color: #b32443;
  }
  .border-softpink-900 {
    border-color: #99102c;
  }
  .border-softpink-950 {
    border-color: #590414;
  }

  /* Blue */
  .bg-blue-50 {
    background-color: #eff6ff;
  }
  .bg-blue-100 {
    background-color: #dbeafe;
  }
  .bg-blue-200 {
    background-color: #bedbff;
  }
  .bg-blue-300 {
    background-color: #8ec5ff;
  }
  .bg-blue-400 {
    background-color: #50a2ff;
  }
  .bg-blue-500 {
    background-color: #2b7fff;
  }
  .bg-blue-600 {
    background-color: #155dfc;
  }
  .bg-blue-700 {
    background-color: #1447e6;
  }
  .bg-blue-800 {
    background-color: #193cb8;
  }
  .bg-blue-900 {
    background-color: #1c398e;
  }
  .bg-blue-950 {
    background-color: #162456;
  }

  .text-blue-50 {
    color: #eff6ff;
  }
  .text-blue-100 {
    color: #dbeafe;
  }
  .text-blue-200 {
    color: #bedbff;
  }
  .text-blue-300 {
    color: #8ec5ff;
  }
  .text-blue-400 {
    color: #50a2ff;
  }
  .text-blue-500 {
    color: #2b7fff;
  }
  .text-blue-600 {
    color: #155dfc;
  }
  .text-blue-700 {
    color: #1447e6;
  }
  .text-blue-800 {
    color: #193cb8;
  }
  .text-blue-900 {
    color: #1c398e;
  }
  .text-blue-950 {
    color: #162456;
  }

  .border-blue-50 {
    border-color: #eff6ff;
  }
  .border-blue-100 {
    border-color: #dbeafe;
  }
  .border-blue-200 {
    border-color: #bedbff;
  }
  .border-blue-300 {
    border-color: #8ec5ff;
  }
  .border-blue-400 {
    border-color: #50a2ff;
  }
  .border-blue-500 {
    border-color: #2b7fff;
  }
  .border-blue-600 {
    border-color: #155dfc;
  }
  .border-blue-700 {
    border-color: #1447e6;
  }
  .border-blue-800 {
    border-color: #193cb8;
  }
  .border-blue-900 {
    border-color: #1c398e;
  }
  .border-blue-950 {
    border-color: #162456;
  }

  /* Emerald */
  .bg-emerald-50 {
    background-color: #ecfdf5;
  }
  .bg-emerald-100 {
    background-color: #d1fae5;
  }
  .bg-emerald-200 {
    background-color: #a4f4cf;
  }
  .bg-emerald-300 {
    background-color: #5ee9b5;
  }
  .bg-emerald-400 {
    background-color: #00d492;
  }
  .bg-emerald-500 {
    background-color: #00bc7d;
  }
  .bg-emerald-600 {
    background-color: #009966;
  }
  .bg-emerald-700 {
    background-color: #007a55;
  }
  .bg-emerald-800 {
    background-color: #006045;
  }
  .bg-emerald-900 {
    background-color: #004f3b;
  }
  .bg-emerald-950 {
    background-color: #002c22;
  }

  .text-emerald-50 {
    color: #ecfdf5;
  }
  .text-emerald-100 {
    color: #d1fae5;
  }
  .text-emerald-200 {
    color: #a4f4cf;
  }
  .text-emerald-300 {
    color: #5ee9b5;
  }
  .text-emerald-400 {
    color: #00d492;
  }
  .text-emerald-500 {
    color: #00bc7d;
  }
  .text-emerald-600 {
    color: #009966;
  }
  .text-emerald-700 {
    color: #007a55;
  }
  .text-emerald-800 {
    color: #006045;
  }
  .text-emerald-900 {
    color: #004f3b;
  }
  .text-emerald-950 {
    color: #002c22;
  }

  .border-emerald-50 {
    border-color: #ecfdf5;
  }
  .border-emerald-100 {
    border-color: #d1fae5;
  }
  .border-emerald-200 {
    border-color: #a4f4cf;
  }
  .border-emerald-300 {
    border-color: #5ee9b5;
  }
  .border-emerald-400 {
    border-color: #00d492;
  }
  .border-emerald-500 {
    border-color: #00bc7d;
  }
  .border-emerald-600 {
    border-color: #009966;
  }
  .border-emerald-700 {
    border-color: #007a55;
  }
  .border-emerald-800 {
    border-color: #006045;
  }
  .border-emerald-900 {
    border-color: #004f3b;
  }
  .border-emerald-950 {
    border-color: #002c22;
  }

  /* Gold */
  .bg-gold-100 {
    background-color: rgba(223, 172, 22, 0.25);
  }
  .bg-gold-200 {
    background-color: rgba(223, 172, 22, 0.1);
  }
  .text-gold-100 {
    color: rgba(223, 172, 22, 0.25);
  }
  .text-gold-200 {
    color: rgba(223, 172, 22, 0.1);
  }
  .border-gold-100 {
    border-color: rgba(223, 172, 22, 0.25);
  }
  .border-gold-200 {
    border-color: rgba(223, 172, 22, 0.1);
  }

  /* Selver */
  .bg-selver-100 {
    background-color: rgba(117, 127, 149, 0.25);
  }
  .bg-selver-200 {
    background-color: rgba(117, 127, 149, 0.1);
  }
  .text-selver-100 {
    color: rgba(117, 127, 149, 0.25);
  }
  .text-selver-200 {
    color: rgba(117, 127, 149, 0.1);
  }
  .border-selver-100 {
    border-color: rgba(117, 127, 149, 0.25);
  }
  .border-selver-200 {
    border-color: rgba(117, 127, 149, 0.1);
  }

  /* Bronze */
  .bg-bronze-100 {
    background-color: rgba(145, 68, 0, 0.25);
  }
  .bg-bronze-200 {
    background-color: rgba(145, 68, 0, 0.1);
  }
  .text-bronze-100 {
    color: rgba(145, 68, 0, 0.25);
  }
  .text-bronze-200 {
    color: rgba(145, 68, 0, 0.1);
  }
  .border-bronze-100 {
    border-color: rgba(145, 68, 0, 0.25);
  }
  .border-bronze-200 {
    border-color: rgba(145, 68, 0, 0.1);
  }
}
